wcjvm/obj/project.assets.json
wcjvm/obj/project.nuget.cache
wcjvm/obj/wcjvm.csproj.nuget.dgspec.json
wcjvm/obj/wcjvm.csproj.nuget.g.props
wcjvm/obj/wcjvm.csproj.nuget.g.targets
wcjvm/obj/Debug/net7.0/win-x64/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
wcjvm/obj/Debug/net7.0/win-x64/wcjvm.AssemblyInfo.cs
wcjvm/obj/Debug/net7.0/win-x64/wcjvm.AssemblyInfoInputs.cache
wcjvm/obj/Debug/net7.0/win-x64/wcjvm.assets.cache
wcjvm/obj/Debug/net7.0/win-x64/wcjvm.GeneratedMSBuildEditorConfig.editorconfig
wcjvm/obj/Debug/net7.0/win-x64/wcjvm.GlobalUsings.g.cs
wcjvm/obj/Release/net7.0/win-x64/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
wcjvm/obj/Release/net7.0/win-x64/PublishOutputs.8ae0a5c581.txt
wcjvm/obj/Release/net7.0/win-x64/singlefilehost.exe
wcjvm/obj/Release/net7.0/win-x64/wcjvm.AssemblyInfo.cs
wcjvm/obj/Release/net7.0/win-x64/wcjvm.AssemblyInfoInputs.cache
wcjvm/obj/Release/net7.0/win-x64/wcjvm.assets.cache
wcjvm/obj/Release/net7.0/win-x64/wcjvm.csproj.CopyComplete
wcjvm/obj/Release/net7.0/win-x64/wcjvm.csproj.CoreCompileInputs.cache
wcjvm/obj/Release/net7.0/win-x64/wcjvm.csproj.FileListAbsolute.txt
wcjvm/obj/Release/net7.0/win-x64/wcjvm.deps.json
wcjvm/obj/Release/net7.0/win-x64/wcjvm.dll
wcjvm/obj/Release/net7.0/win-x64/wcjvm.GeneratedMSBuildEditorConfig.editorconfig
wcjvm/obj/Release/net7.0/win-x64/wcjvm.genruntimeconfig.cache
wcjvm/obj/Release/net7.0/win-x64/wcjvm.GlobalUsings.g.cs
wcjvm/obj/Release/net7.0/win-x64/wcjvm.pdb
wcjvm/obj/Release/net7.0/win-x64/R2R/System.Collections.Immutable.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.Console.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.Diagnostics.StackTrace.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.IO.Compression.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.IO.MemoryMappedFiles.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.Private.CoreLib.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/System.Reflection.Metadata.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/wcjvm.dll
wcjvm/obj/Release/net7.0/win-x64/R2R/wcjvm.r2r.dll
wcjvm/obj/Release/net7.0/win-x64/linked/Link.semaphore
wcjvm/obj/Release/net7.0/win-x64/linked/System.Collections.Immutable.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.Console.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.Diagnostics.StackTrace.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.IO.Compression.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.IO.MemoryMappedFiles.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.Private.CoreLib.dll
wcjvm/obj/Release/net7.0/win-x64/linked/System.Reflection.Metadata.dll
wcjvm/obj/Release/net7.0/win-x64/linked/wcjvm.dll
wcjvm/obj/Release/net7.0/win-x64/linked/wcjvm.pdb
wcjvm/obj/Release/net7.0/win-x64/ref/wcjvm.dll
wcjvm/obj/Release/net7.0/win-x64/refint/wcjvm.dll
wcjvm/out/wcjvm.exe
wcjvm/out/wcjvm.pdb
wcjvm/out/net7.0/win-x64/clretwrc.dll
wcjvm/out/net7.0/win-x64/clrgc.dll
wcjvm/out/net7.0/win-x64/clrjit.dll
wcjvm/out/net7.0/win-x64/coreclr.dll
wcjvm/out/net7.0/win-x64/createdump.exe
wcjvm/out/net7.0/win-x64/hostfxr.dll
wcjvm/out/net7.0/win-x64/hostpolicy.dll
wcjvm/out/net7.0/win-x64/Microsoft.CSharp.dll
wcjvm/out/net7.0/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
wcjvm/out/net7.0/win-x64/Microsoft.VisualBasic.Core.dll
wcjvm/out/net7.0/win-x64/Microsoft.VisualBasic.dll
wcjvm/out/net7.0/win-x64/Microsoft.Win32.Primitives.dll
wcjvm/out/net7.0/win-x64/Microsoft.Win32.Registry.dll
wcjvm/out/net7.0/win-x64/mscordaccore_amd64_amd64_7.0.1123.42427.dll
wcjvm/out/net7.0/win-x64/mscordaccore.dll
wcjvm/out/net7.0/win-x64/mscordbi.dll
wcjvm/out/net7.0/win-x64/mscorlib.dll
wcjvm/out/net7.0/win-x64/mscorrc.dll
wcjvm/out/net7.0/win-x64/msquic.dll
wcjvm/out/net7.0/win-x64/netstandard.dll
wcjvm/out/net7.0/win-x64/System.AppContext.dll
wcjvm/out/net7.0/win-x64/System.Buffers.dll
wcjvm/out/net7.0/win-x64/System.Collections.Concurrent.dll
wcjvm/out/net7.0/win-x64/System.Collections.dll
wcjvm/out/net7.0/win-x64/System.Collections.Immutable.dll
wcjvm/out/net7.0/win-x64/System.Collections.NonGeneric.dll
wcjvm/out/net7.0/win-x64/System.Collections.Specialized.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.Annotations.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.DataAnnotations.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.EventBasedAsync.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.Primitives.dll
wcjvm/out/net7.0/win-x64/System.ComponentModel.TypeConverter.dll
wcjvm/out/net7.0/win-x64/System.Configuration.dll
wcjvm/out/net7.0/win-x64/System.Console.dll
wcjvm/out/net7.0/win-x64/System.Core.dll
wcjvm/out/net7.0/win-x64/System.Data.Common.dll
wcjvm/out/net7.0/win-x64/System.Data.DataSetExtensions.dll
wcjvm/out/net7.0/win-x64/System.Data.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.Contracts.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.Debug.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.DiagnosticSource.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.FileVersionInfo.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.Process.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.StackTrace.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.TextWriterTraceListener.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.Tools.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.TraceSource.dll
wcjvm/out/net7.0/win-x64/System.Diagnostics.Tracing.dll
wcjvm/out/net7.0/win-x64/System.dll
wcjvm/out/net7.0/win-x64/System.Drawing.dll
wcjvm/out/net7.0/win-x64/System.Drawing.Primitives.dll
wcjvm/out/net7.0/win-x64/System.Dynamic.Runtime.dll
wcjvm/out/net7.0/win-x64/System.Formats.Asn1.dll
wcjvm/out/net7.0/win-x64/System.Formats.Tar.dll
wcjvm/out/net7.0/win-x64/System.Globalization.Calendars.dll
wcjvm/out/net7.0/win-x64/System.Globalization.dll
wcjvm/out/net7.0/win-x64/System.Globalization.Extensions.dll
wcjvm/out/net7.0/win-x64/System.IO.Compression.Brotli.dll
wcjvm/out/net7.0/win-x64/System.IO.Compression.dll
wcjvm/out/net7.0/win-x64/System.IO.Compression.FileSystem.dll
wcjvm/out/net7.0/win-x64/System.IO.Compression.Native.dll
wcjvm/out/net7.0/win-x64/System.IO.Compression.ZipFile.dll
wcjvm/out/net7.0/win-x64/System.IO.dll
wcjvm/out/net7.0/win-x64/System.IO.FileSystem.AccessControl.dll
wcjvm/out/net7.0/win-x64/System.IO.FileSystem.dll
wcjvm/out/net7.0/win-x64/System.IO.FileSystem.DriveInfo.dll
wcjvm/out/net7.0/win-x64/System.IO.FileSystem.Primitives.dll
wcjvm/out/net7.0/win-x64/System.IO.FileSystem.Watcher.dll
wcjvm/out/net7.0/win-x64/System.IO.IsolatedStorage.dll
wcjvm/out/net7.0/win-x64/System.IO.MemoryMappedFiles.dll
wcjvm/out/net7.0/win-x64/System.IO.Pipes.AccessControl.dll
wcjvm/out/net7.0/win-x64/System.IO.Pipes.dll
wcjvm/out/net7.0/win-x64/System.IO.UnmanagedMemoryStream.dll
wcjvm/out/net7.0/win-x64/System.Linq.dll
wcjvm/out/net7.0/win-x64/System.Linq.Expressions.dll
wcjvm/out/net7.0/win-x64/System.Linq.Parallel.dll
wcjvm/out/net7.0/win-x64/System.Linq.Queryable.dll
wcjvm/out/net7.0/win-x64/System.Memory.dll
wcjvm/out/net7.0/win-x64/System.Net.dll
wcjvm/out/net7.0/win-x64/System.Net.Http.dll
wcjvm/out/net7.0/win-x64/System.Net.Http.Json.dll
wcjvm/out/net7.0/win-x64/System.Net.HttpListener.dll
wcjvm/out/net7.0/win-x64/System.Net.Mail.dll
wcjvm/out/net7.0/win-x64/System.Net.NameResolution.dll
wcjvm/out/net7.0/win-x64/System.Net.NetworkInformation.dll
wcjvm/out/net7.0/win-x64/System.Net.Ping.dll
wcjvm/out/net7.0/win-x64/System.Net.Primitives.dll
wcjvm/out/net7.0/win-x64/System.Net.Quic.dll
wcjvm/out/net7.0/win-x64/System.Net.Requests.dll
wcjvm/out/net7.0/win-x64/System.Net.Security.dll
wcjvm/out/net7.0/win-x64/System.Net.ServicePoint.dll
wcjvm/out/net7.0/win-x64/System.Net.Sockets.dll
wcjvm/out/net7.0/win-x64/System.Net.WebClient.dll
wcjvm/out/net7.0/win-x64/System.Net.WebHeaderCollection.dll
wcjvm/out/net7.0/win-x64/System.Net.WebProxy.dll
wcjvm/out/net7.0/win-x64/System.Net.WebSockets.Client.dll
wcjvm/out/net7.0/win-x64/System.Net.WebSockets.dll
wcjvm/out/net7.0/win-x64/System.Numerics.dll
wcjvm/out/net7.0/win-x64/System.Numerics.Vectors.dll
wcjvm/out/net7.0/win-x64/System.ObjectModel.dll
wcjvm/out/net7.0/win-x64/System.Private.CoreLib.dll
wcjvm/out/net7.0/win-x64/System.Private.DataContractSerialization.dll
wcjvm/out/net7.0/win-x64/System.Private.Uri.dll
wcjvm/out/net7.0/win-x64/System.Private.Xml.dll
wcjvm/out/net7.0/win-x64/System.Private.Xml.Linq.dll
wcjvm/out/net7.0/win-x64/System.Reflection.DispatchProxy.dll
wcjvm/out/net7.0/win-x64/System.Reflection.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Emit.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Emit.ILGeneration.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Emit.Lightweight.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Extensions.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Metadata.dll
wcjvm/out/net7.0/win-x64/System.Reflection.Primitives.dll
wcjvm/out/net7.0/win-x64/System.Reflection.TypeExtensions.dll
wcjvm/out/net7.0/win-x64/System.Resources.Reader.dll
wcjvm/out/net7.0/win-x64/System.Resources.ResourceManager.dll
wcjvm/out/net7.0/win-x64/System.Resources.Writer.dll
wcjvm/out/net7.0/win-x64/System.Runtime.CompilerServices.Unsafe.dll
wcjvm/out/net7.0/win-x64/System.Runtime.CompilerServices.VisualC.dll
wcjvm/out/net7.0/win-x64/System.Runtime.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Extensions.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Handles.dll
wcjvm/out/net7.0/win-x64/System.Runtime.InteropServices.dll
wcjvm/out/net7.0/win-x64/System.Runtime.InteropServices.JavaScript.dll
wcjvm/out/net7.0/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Intrinsics.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Loader.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Numerics.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Serialization.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Serialization.Formatters.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Serialization.Json.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Serialization.Primitives.dll
wcjvm/out/net7.0/win-x64/System.Runtime.Serialization.Xml.dll
wcjvm/out/net7.0/win-x64/System.Security.AccessControl.dll
wcjvm/out/net7.0/win-x64/System.Security.Claims.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.Algorithms.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.Cng.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.Csp.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.Encoding.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.OpenSsl.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.Primitives.dll
wcjvm/out/net7.0/win-x64/System.Security.Cryptography.X509Certificates.dll
wcjvm/out/net7.0/win-x64/System.Security.dll
wcjvm/out/net7.0/win-x64/System.Security.Principal.dll
wcjvm/out/net7.0/win-x64/System.Security.Principal.Windows.dll
wcjvm/out/net7.0/win-x64/System.Security.SecureString.dll
wcjvm/out/net7.0/win-x64/System.ServiceModel.Web.dll
wcjvm/out/net7.0/win-x64/System.ServiceProcess.dll
wcjvm/out/net7.0/win-x64/System.Text.Encoding.CodePages.dll
wcjvm/out/net7.0/win-x64/System.Text.Encoding.dll
wcjvm/out/net7.0/win-x64/System.Text.Encoding.Extensions.dll
wcjvm/out/net7.0/win-x64/System.Text.Encodings.Web.dll
wcjvm/out/net7.0/win-x64/System.Text.Json.dll
wcjvm/out/net7.0/win-x64/System.Text.RegularExpressions.dll
wcjvm/out/net7.0/win-x64/System.Threading.Channels.dll
wcjvm/out/net7.0/win-x64/System.Threading.dll
wcjvm/out/net7.0/win-x64/System.Threading.Overlapped.dll
wcjvm/out/net7.0/win-x64/System.Threading.Tasks.Dataflow.dll
wcjvm/out/net7.0/win-x64/System.Threading.Tasks.dll
wcjvm/out/net7.0/win-x64/System.Threading.Tasks.Extensions.dll
wcjvm/out/net7.0/win-x64/System.Threading.Tasks.Parallel.dll
wcjvm/out/net7.0/win-x64/System.Threading.Thread.dll
wcjvm/out/net7.0/win-x64/System.Threading.ThreadPool.dll
wcjvm/out/net7.0/win-x64/System.Threading.Timer.dll
wcjvm/out/net7.0/win-x64/System.Transactions.dll
wcjvm/out/net7.0/win-x64/System.Transactions.Local.dll
wcjvm/out/net7.0/win-x64/System.ValueTuple.dll
wcjvm/out/net7.0/win-x64/System.Web.dll
wcjvm/out/net7.0/win-x64/System.Web.HttpUtility.dll
wcjvm/out/net7.0/win-x64/System.Windows.dll
wcjvm/out/net7.0/win-x64/System.Xml.dll
wcjvm/out/net7.0/win-x64/System.Xml.Linq.dll
wcjvm/out/net7.0/win-x64/System.Xml.ReaderWriter.dll
wcjvm/out/net7.0/win-x64/System.Xml.Serialization.dll
wcjvm/out/net7.0/win-x64/System.Xml.XDocument.dll
wcjvm/out/net7.0/win-x64/System.Xml.XmlDocument.dll
wcjvm/out/net7.0/win-x64/System.Xml.XmlSerializer.dll
wcjvm/out/net7.0/win-x64/System.Xml.XPath.dll
wcjvm/out/net7.0/win-x64/System.Xml.XPath.XDocument.dll
wcjvm/out/net7.0/win-x64/wcjvm.deps.json
wcjvm/out/net7.0/win-x64/wcjvm.dll
wcjvm/out/net7.0/win-x64/wcjvm.exe
wcjvm/out/net7.0/win-x64/wcjvm.pdb
wcjvm/out/net7.0/win-x64/wcjvm.runtimeconfig.json
wcjvm/out/net7.0/win-x64/WindowsBase.dll
